<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1, shrink-to-fit=no">

    <title>Slim Starter</title>
</head>

<body class="page-{{ page }}">

<main role="main">

    {% block content %}{% endblock %}

</main><!-- /.container -->
</body>
</html>
